body {
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightgray;
}

.calculator {
    flex: 0 auto;
    flex-direction: column;
    display: flex;
    width: 400px;
    height: 600px;
    margin: 10%;
    box-sizing: border-box;
    background-color: #1C1C1C;
    border-radius: 20px;
}

.display {
    flex: 1;
    display: flex;
    max-width: 100%;
    margin: 0px 5px;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
    max-height: 25%;

}

.operand {
    font-size: 30pt;
    color: white;
    margin: 35px 5px;
    align-self: flex-end;
}

.numbers {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: end;
    color: white;
    font-size: 50pt;
}

.numbers > .history {
    font-size: 20pt;
    color: grey;
    margin: 0 5px;
}

.keypad {
    display: flex;
    /* border: solid green; */
    flex: 1 auto;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
}

.row {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
}

.button {
    flex: 1;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    color: white;
    font-size: 25pt;
}

.button:hover {
    filter: brightness(0.8);
    transform: scale(1.05); 
}

.button + .selected {
    filter: brightness(0.75);
}

.black {
    background-color: #505050;
}

.grey {
    background-color: #D4D4D2;
}

.orange {
    background-color: #FF9500;
}

.fifth > #zero,
.first > #delete {
    flex: 2;
    max-width: 50%;
}

#equals,
#point {
    max-width: 25%;
}

.hide-borders * {
    border-width: 0px !important;
}